/images_converted/
/images_converted/**
/images_converted256/
/images_converted256/**
/images/

*.zip
*.xlsx
*.pth
runlog*.txt

/.vscode/
/.vscode/**

/__pycache__
/__pycache__/**

/.DS_Store
/.DS_Store/**
