/images_converted/
/images_converted/**
/images_converted256/
/images_converted256/**
/images/

*.zip
*.xlsx
runlog*.txt
test.py

/.vscode/
/.vscode/**

/__pycache__
/__pycache__/**

/.DS_Store
/.DS_Store/**
